<%
from anvillib.config import prefix
from anvillib import config
%>

<div id="branches" class="righthalf">
  <h4>Branches</h4>
  %if len(branches) == 0:
  <p class="tip">No branches yet.</p>
    %if canedit:
    <p class="tip">Push your branches with the following command:</p>
      %if is_project:
        <pre>bzr push bzr+ssh://bzr@${config.val('host')}/${proj.name}/&lt;branch&gt;</pre>
      %else:
        <pre>bzr push bzr+ssh://bzr@${config.val('host')}/*${user.name}/&lt;branch&gt;</pre>
      %endif
    %endif
  %else:
    <ul class="brancheslist">
      %if is_project:
        %for b in branches:
        <li><a href="${prefix}/${proj.name}/branch/${b}">${b}</a></li>
        %endfor
      %else:
        %for b in branches:
        <li><a href="${prefix}/*${user.name}/branch/${b}">${b}</a></li>
        %endfor
      %endif
    </ul>
  %endif
</div>
