<%inherit file="layout.html" />

<%
import common
from anvillib.config import prefix
from anvillib import config
import markdown
%>

<ul id="actions" class="buttons">
%if is_project != None:
  <li><a href="${prefix}/${item}/branch/${branch}/source">Source tree</a></li>
%else:
  <li><a href="${prefix}/*${item}/branch/${branch}/source">Source tree</a></li>
%endif
%if canedit:
  %if is_project != None:
  <li><a href="${prefix}/${item}/branch/${branch}/delete">Delete this branch</a></li>
  %else:
  <li><a href="${prefix}/*${item}/branch/${branch}/delete">Delete this branch</a></li>
  %endif
%endif
</ul>

<div id="breadcrumbs">
%if is_project:
  <a href="${prefix}/${item}">${item}</a>
  &gt; <a href="${prefix}/${item}/branch/${branch}">branch ${branch}</a>
%else:
  <a href="${prefix}/*${item}">${item}</a>
  &gt; <a href="${prefix}/*${item}/branch/${branch}">branch ${branch}</a>
%endif
  &gt; source tree
</div>

<h2>${htTitle}</h2>

<div class="main-body">
  <div id="branch-details">
    <label>bzr branch</label>
    <input type="text"
           value="http://${config.val('host')}/*${item}/${branch}"
           readonly="readonly" />
    %if canedit:
      <br/>
      <label>bzr push</label>
      <input type="text"
             value="bzr+ssh://bzr@${config.val('host')}/*${item}/${branch}/"
             readonly="readonly" />
    %endif
    <div class="clear"></div>
  </div>

  <h4>Source tree</h4>
  <table>
    %for file in tree:
      <tr>
        %if file[2] == "dir":
          <td class="dir">${file[1]}</td>
        %else:
          <td class="file">
            %if is_project:
            <a href="${prefix}/${item}/${branch}/file/${file[0]}">${file[1]}</a>
            %else:
            <a href="${prefix}/*${item}/${branch}/file/${file[0]}">${file[1]}</a>
            %endif
          </td>
        %endif
      </tr>
    %endfor
  </table>
</div>
  <div class="clear"></div>
