<%inherit file="layout.html" />

<%
import markdown
from anvillib.config import prefix
import common
%>

%if can_edit:
  <ul id="actions" class="buttons">
    <li><a href="${prefix}/${bug.project.name}/bugs/${bug.id}/edit">Edit bug</a></li>
  </ul>
%endif

<div id="breadcrumbs">
  <a href="${prefix}/${bug.project.name}">${bug.project.name}</a>
  &gt;
  <a href="${prefix}/${bug.project.name}/bugs">bugs</a>
  &gt;
  bug #${bug.id}
<h2>${htTitle}</h2>

%if can_edit:
<div class="bug-admin">
%else:
<div class="bug">
%endif
  <div class="msg-header">
    <div class="msg-hdr-elts">
      <div class="msg-hdr-elt textleft">
        <label>From:</label>
       %if bug.guest:
          ${bug.author_extern}
       %else:
          <a href="${prefix}/*${bug.author_intern.name}">${bug.author_intern.name}</a>
       %endif
      </div>
      <div class="msg-hdr-elt textcenter">
        <label>Status:</label>
        ${bug.get_status()}
      </div>
      <div class="msg-hdr-elt textright">
        <label>Version:</label>
        ${bug.version}
      </div>
      <div class="clear"></div>
      <div class="msg-hdr-elt textleft">
        <label>Assigned to:</label>
        %if bug.assigned_to == None:
          No one
        %else:
          <a href="${prefix}/*${bug.assigned_to.name}">${bug.assigned_to.name}</a>
        %endif
      </div>
      <div class="msg-hdr-elt textcenter">
        <label>Created:</label>
        ${bug.created}
      </div>
      <div class="msg-hdr-elt textright">
        <label>Last modified:</label>
        ${bug.modified}
      </div>
      <div class="clear"></div>
    </div>
    <div class="msg-hdt-subject">
      <label>Summary:</label>
      ${bug.subject}
    </div>
  </div>
  <div class="msg-body">
    ${markdown.markdown(bug.description)}
  </div>
  %for comm in comms:
  <div class="comment">
    <div class="msg-header">
      <div class="msg-hdr-elts">
        <div class="msg-hdr-elt textleft">
          %if comm.extern:
            ${comm.author}
          %else:
            ${comm.author}
          %endif
        </div>
        <div class="msg-hdr-elt textcenter">
          &nbsp;
        </div>
        <div class="msg-hdr-elt textright">
          ${comm.created}
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="comment-body">
      ${markdown.markdown(comm.message)}
    </div>
  </div>
  %endfor
  <div class="comment-form">
    <h3>Add a comment</h3>
    %if common.session.user == None:
      <p>Please log in or register to post a comment.</p>
    %else:
      <form action="${prefix}/${bug.project.name}/bugs/${bug.id}/newcomm" method="post">
        ${comm_form.render()}
      </form>
    %endif
  </div>
</div>
