<%inherit file="layout.html" />

<%
import common
from anvillib.config import prefix
%>

<div id="breadcrumbs">
  <a href="${prefix}/${proj.name}">${proj.name}</a>
  &gt;
  bugs
</div>

<h2>${htTitle}</h2>

%if not bugs:
  <table id="msg-list">
    <tr><td>No bugs to display</td></tr>
  </table>
%else:
  <table id="msg-list">
    <tr><th>Author</th><th>Subject</th><th>Status</th><th>Created</th><th>Modified</th></tr>
  %for bug in bugs:
    <tr>
      %if bug.guest:
      <td>${bug.author_extern}</td>
      %else:
      <td><a href="${prefix}/*${bug.author_intern.name}">${bug.author_intern.name}</a></td>
      %endif
      <td><a href="${prefix}/${proj.name}/bugs/${bug.id}">${bug.subject}</a></td>
      <td>${bug.get_status()}</td>
      <td>${bug.created}</td>
      <td>${bug.modified}</td>
    </tr>
  %endfor
  </table>
%endif

  <ul id="actions" class="buttons">
    <li><a href="${prefix}/${proj.name}/bugs/new">Report a bug</a></li>
    %if show_all:
      <li><a href="${prefix}/${proj.name}/bugs">Hide closed bugs</a></li>
    %else:
      <li><a href="${prefix}/${proj.name}/bugs/all">Show closed bugs</a></li>
    %endif
  </ul>

<div class="clear"></div>
