<%inherit file="layout.html" />

<%
import common
from anvillib.config import prefix
%>

<div id="breadcrumbs">
  <a href="${prefix}/${proj.name}">${proj.name}</a>
  &gt;
  documents
</div>

<h2>${htTitle}</h2>

%if not docs:
  <table id="msg-list">
    <tr><td>This project has no document yet.</td></tr>
  </table>
%else:
  <table id="msg-list">
    <tr><th>Title</th><th>Author</th><th>Modified</th></tr>
  %for doc in docs:
    <tr>
      <td><a href="${prefix}/${proj.name}/doc/${doc.name}">${doc.title}</a></td>
      <td><a href="${prefix}/*${doc.author.name}">${doc.author.name}</a></td>
      <td>${doc.mtime}</td>
    </tr>
  %endfor
  </table>
%endif

  <ul id="actions" class="buttons">
    <li><a href="${prefix}/${proj.name}/doc/new">Create a new document</a></li>
  </ul>

<div class="clear"></div>
