<%inherit file="layout.html" />

<%
import markdown
import common
from anvillib.config import prefix
%>

<div id="breadcrumbs">
  <a href="${prefix}/${proj}">${proj}</a>
  &gt;
  <a href="${prefix}/${proj}/doc">documents</a>
  &gt;
  ${doc.name}
</div>

<div class="main-body">
  <h2>${proj}'s ${doc.title}</h2>
  ${markdown.markdown(doc.content)}
</div>

<ul id="actions" class="buttons">
<!--  <li><a href="${prefix}/${proj}/doc/${doc.name}/history">Document history</a></li> -->
%if canedit:
  <li><a href="${prefix}/${proj}/doc/${doc.name}/edit">Edit this document</a></li>
%endif
</ul>
<div class="clear"></div>
