<% from common import session, msgs %>
<% from anvillib import config %>
<% from anvillib.config import prefix %>

<!DOCTYPE html>
<html>
  <head>
    <title>${config.val('title')}</title>
    <link rel="stylesheet" type="text/css" media="all" href="${prefix}/static/css/style.css" />
    <link rel="icon" href="${prefix}/static/img/favicon.ico" />
    <script type="text/javascript" src="${prefix}/static/js/prototype.js"></script>
    <script type="text/javascript" src="${prefix}/static/js/scriptaculous/scriptaculous.js"></script>
  </head>
  <body>
    <div id="header">
      <div id="headerwrapper">
          <ul id="header-menu" class="buttons">
            <li><a href="${prefix}/project/list">Projects</a></li>
            <li><a href="${prefix}/users">Users</a></li>
            %if hasattr(session, "user") and session.user != None:
            <li>
              <a href="${prefix}/message/list">
                %if msgs == 0:
                  No messages
                %elif msgs == 1:
                  1 message
                %else:
                  ${msgs} messages
                %endif
              </a>
            </li>
            <li><a href="${prefix}/*${session.user}">${session.user}</a></li>
            <li class="warning"><a href="${prefix}/logout">Logout</a></li>
            %else:
            <li><a href="${prefix}/login">Login</a></li>
            <li><a href="${prefix}/register">Register!</a></li>
            %endif
          </ul>
        <div id="header-logo">
          <a href="${prefix}/"><img src="${prefix}/static/img/logo.png" alt="Logo"/></a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div id="wrapper">
      ${self.body()}
      <div class="clear"></div>
      <div id="footer">
        Copyright &copy; 2012 Etenil
      </div>
    </div>
  </body>
</html>
