<%inherit file="layout.html" />

<% import common %>

  <div class="main-body">
    <h1>Welcome to Anvil!</h1>
%if user == None:
    <p>
      Anvil is a simple yet powerful software forge that relies on
      bazaar. It has social features and many tools for your
      convenience.
    </p>
    <p>
      So <a href="${common.prefix}/register">register</a> and join us!
    </p>
%else:
    <p>
      Start up by creating a project or branching an existing one!
    </p>
%endif
    <p>
      There are ${num_proj} projects on anvil!
      <a href="${common.prefix}/project/list">Check them out</a>!
    </p>
  </div>

%if hasattr(common.session, "user") and common.session.user != None:
  <ul id="actions" class="buttons">
    <li><a href="${common.prefix}/project/new">Start a new project</a></li>
  </ul>
%endif
