<%inherit file="layout.html" />

<%
import common
from anvillib.config import prefix
from anvillib import config
%>

%if hasattr(common.session, "user") and common.session.user != None:
  <ul id="actions" class="buttons">
    <li><a href="${prefix}/project/new">Start a new project</a></li>
  </ul>
%endif

  <div class="main-body">
%if common.session.user == None:
    %if custom_visitor_page != None:
    ${custom_visitor_page}
    %else:
    <p style="float:right">
      <img src="${prefix}/static/img/forge.jpg" alt="Forge freely!" />
    </p>
    <p class="motto">
      Forge Freely!
    </p>
    <p class="praisebig">
      Anvil makes forging your own software easy.
    </p>
    <p class="praise">
      Manage your <em>branches</em>, <em>projects</em> and <em>team</em>
      in all simplicity.
    </p>
    <br />
    <p style="text-align: center">
      <a href="${prefix}/register">
        <img src="${prefix}/static/img/register.png" alt="Register" />
      </a>
    </p>
    <br />
    <br />
    <p class="smallprint">
      Photo by <a href="http://www.flickr.com/photos/zigazou76/">zigazou76</a>, CC-by
    </p>
    %endif
%else:
    %if custom_logged_page != None:
    ${custom_logged_page}
    %else:
    <h1>Welcome to Anvil!</h1>
    <p>
      Start up by creating a project or creating a branch.
    </p>
    <p>
      In order to create a branch, add an SSH key, then start a new branch on
      your local machine, then push it like so:
    </p>
    <pre>
      $ bzr init &lt;somebranch&gt;
      ... code ...
      $ bzr add
      $ bzr ci -m &quot;Started branch &lt;somebranch&gt;&quot;
      $ bzr push --remember bzr+ssh://bzr@${config.val('host')}/*${common.session.user}/&lt;somebranch&gt;/
    </pre>
    <p>
      Your branch will be automatically created and you'll instantly see it
      on Anvil.
    </p>
    %endif
%endif
    <div class="clear"></div>
    <p>
      There are ${num_proj} projects on anvil!
      <a href="${prefix}/project/list">Check them out</a>!
    </p>

    <div id="activity">
      <h4>Recent Activity</h4>
      %for a in activity:
      <div class="event">
        <div class="date">${a.stamp}</div>
        <div class="eventbody">
          <p class="revmessage">${a.get_msg()}</p>
          <p class="eventinfo"><a href="${a.link}">Check it out</a></p>
        </div>
        <div class="clear"></div>
      </div>
      %endfor
    </div>
  </div>
