<%inherit file="layout.html" />

<%
import common
from anvillib.config import prefix
%>

<div id="breadcrumbs">
  <a href="${prefix}/*${common.session.user}">${common.session.user}</a>
  &gt;
  messages
</div>

<h2>${htTitle}</h2>

%if not msgs:
  <table id="msg-list">
    <tr><td>No messages to display</td></tr>
  </table>
%else:
  <table id="msg-list">
    <tr><th>Subject</th><th>From</th><th>Date</th></tr>
 %for msg in msgs:
    <tr>
      <td><a href="${prefix}/message/${msg.id}">${msg.subject}</a></td>
      <td><a href="${prefix}/*${msg.sender}">${msg.sender}</a></td>
      <td>${msg.created}</td>
    </tr>
 %endfor
  </table>
%endif

  <ul id="actions" class="buttons">
    <li><a href="${prefix}/message/new">Write a new message</a></li>
   %if show_all:
      <li><a href="${prefix}/message">Hide read messages</a></li>
   %else:
      <li><a href="${prefix}/message/all">Show read messages</a></li>
   %endif
    <li><a href="${prefix}/message/sent">Sent messages</a></li>
  </ul>

<div class="clear"></div>
