<%inherit file="layout.html" />

<% import markdown %>

<h2>${htTitle}</h2>

<div class="message">
  <div class="msg-header">
    <div class="msg-hdr-elts">
      <div class="msg-hdr-elt textleft">
        <label>From:</label>
        % if user == msg.sender.name:
          Me
        % else:
          <a href="/*${msg.sender.name}">${msg.sender.name}</a>
        % endif
      </div>
      <div class="msg-hdr-elt textcenter">
        <label>To:</label>
        % if user == msg.dest.name:
          Me
        % else:
          <a href="/*${msg.dest.name}">${msg.dest.name}</a>
        % endif
      </div>
      <div class="msg-hdr-elt textright">
        <label>Date:</label>
        ${msg.created}
      </div>
      <div class="clear"></div>
    </div>
    <div class="msg-hdt-subject">
      <label>Subject:</label>
      ${msg.subject}
    </div>
  </div>
  <div class="msg-body">
    ${markdown.markdown(msg.content)}
  </div>
</div>
