<%inherit file="layout.html" />

<h2>${htTitle}</h2>

%if not msgs:
  <table id="msg-list">
    <tr><td>No messages to display</td></tr>
  </table>
%else:
  <table id="msg-list">
    <tr><th>From</th><th>Subject</th><th>Date</th></tr>
 %for msg in msgs:
    <tr>
      <td><a href="/*${msg.sender}">${msg.sender}</a></td>
      <td><a href="/message/${msg.id}">${msg.subject}</a></td>
      <td>${msg.created}</td>
    </tr>
 %endfor
  </table>
%endif

  <ul id="actions" class="buttons">
    <li><a href="/message/new">Write a new message</a></li>
   %if show_all:
      <li><a href="/message">Hide read messages</a></li>
   %else:
      <li><a href="/message/all">Show read messages</a></li>
   %endif
    <li><a href="/message/sent">Sent messages</a></li>
  </ul>

<div class="clear"></div>
