<%inherit file="layout.html" />

<%
import markdown
%>

<div id="profile">
  <p><img class="avatar" src="${u.avatar()}" alt="avatar" /></p>
  <div id="profile-details">
    <h2>${u.name}</h2>
    <p>Email: ${u.email.replace('@', ' at ').replace('.', ' dot ')}</p>
    <p>Homepage: <a href="${u.homepage}" target="_blank">${u.homepage}</a></p>
    <br />
    ${markdown.markdown(u.description)}
  </div>
</div>
 %if canedit:
  <ul id="actions" class="buttons">
    <li><a href="/message/list">Messages</a></li>
    <li><a href="/profile">Edit profile</a></li>
    <li><a href="/*${u.name}/key">SSH keys</a></li>
  </ul>
 %endif
  <div class="clear"></div>

<div id="branches">
  <h4>Branches</h4>
  <ul>
  %for b in branches:
    <li><a href="/*${u.name}/branch/${b}">${b}</a></li>
  %endfor
  </ul>
</div>
