<%inherit file="layout.html" />

<%
import markdown
import common
from anvillib.config import prefix
%>

 %if canedit:
  <ul id="actions" class="buttons">
    <li><a href="${prefix}/message/list">Messages</a></li>
    <li><a href="${prefix}/profile">Edit profile</a></li>
    <li><a href="${prefix}/*${user.name}/key">SSH keys</a></li>
    <li><a href="${prefix}/project/new">Start a new project</a></li>
  </ul>
 %endif

<div id="breadcrumbs">
  ${user.name}
</div>

<div id="profile">
  <p><img class="avatar" src="${user.avatar()}" alt="avatar" /></p>
  <div id="profile-details">
    <h2>${user.name}</h2>
    <p>Email: ${user.email.replace('@', ' at ').replace('.', ' dot ')}</p>
    <p>Homepage: <a href="${user.homepage}" target="_blank">${user.homepage}</a></p>
    <br />
    ${markdown.markdown(user.description)}
  </div>
</div>

<%include file="activity.html"/>

<%include file="branches.html"/>

<div class="clear"></div>
