<%inherit file="layout.html" />

<%
import markdown
import common
from anvillib.avatar import logo
from anvillib.config import prefix
%>

<div id="breacrumbs">
  users
</div>

<h2>${htTitle}</h2>

%for p in projs:
  <div class="project">
    <h3><a href="${prefix}/${p.name}">${p.name}</a></h3>
    <img class="smallavatar" src="${logo(p.homepage)}" alt="logo" />
    <div id="desc">
     %if len(p.description) > 200:
        ${markdown.markdown(p.description[0:200] + '...')}
     %else:
        ${markdown.markdown(p.description)}
     %endif
    </div>
  </div>
%endfor
