<%inherit file="layout.html" />

<%
import markdown
import common
from anvillib.config import prefix
%>

  <ul id="actions" class="buttons">
 %if canedit:
    <li><a href="${prefix}/${proj.name}/edit">Edit project</a></li>
 %endif
    <li><a href="${prefix}/${proj.name}/bugs">Bugs</a></li>
    <li><a href="${prefix}/${proj.name}/doc">Documentation</a></li>
  </ul>

<div id="breadcrumbs">
  ${proj.name}
</div>

<div class="main-body">
  <p><img class="avatar" src="${proj.logo()}" alt="logo" /></p>
  <div id="project-details">
    <h2>${proj.name}</h2>
    <p>Homepage: <a href="${proj.homepage}" target="_blank">${proj.homepage}</a></p>
    <br />
    ${markdown.markdown(proj.description)}
  </div>
</div>

<div id="branches">
  <h4>Branches</h4>
  <ul>
  %for b in branches:
    <li><a href="${prefix}/${proj.name}/branch/${b}">${b}</a></li>
  %endfor
  </ul>
</div>

<div id="commiters">
  <h4>Commiters</h4>
  <ul id="commiterslist">
  %for c in commiters:
    <li>
      <a href="${prefix}/*${c.name}">${c.name}</a>
      %if proj.owner.id != c.id:
      <a href="${prefix}/${proj.name}/commiters/del/${c.name}">x</a>
      %endif
    </li>
  %endfor
  </ul>
  <input type="text" name="newcommiter" id="newcommiter"/>
  <div id="autocomplete_choices_newcommiter" class="autocomplete"></div>
  <script type="text/javascript">
    new Ajax.Autocompleter("newcommiter", "autocomplete_choices_newcommiter", "/ajax/listusers",
                           {paramName: "value", minChars: 2, tokens: ","});
    function send_commiter() {
        new Ajax.Request('${proj.name}/commiters/add/' + $('newcommiter').value,
                         {
                             method:'get',
                             onSuccess: function(transport){
                                 atag = document.createElement('a');
                                 /*atag.setAttribute('href', '${prefix}/*' + $('newcommiter').value);
                                 atag.innerHTML = $('newcommiter').value;*/
                                 li = document.createElement('li');
                                 li.innerHTML = '<a href="${prefix}/*' + $('newcommiter').value + '">'
                                     + $('newcommiter').value + '</a>&nbsp;'
                                     + '<a href="${prefix}/${proj.name}/commiters/del/'+ $('newcommiter').value +'">x</a>';
                                 //li.appendChild(atag);
                                 $('commiterslist').appendChild(li);
                                 $('newcommiter').value = "";
                             },
                             onFailure: function(transport){
                                 alert('Failed to add ' +
                                       $('newcommiter').value +
                                       ' to the commiters.');
                             }
                         });
    }
  </script>
  <input type="button" value="Add" onclick="send_commiter()" /></a>
</div>
