<%inherit file="layout.html" />

<%
import markdown
import common
%>

<div id="breacrumbs">
  <a href="${common.prefix}/project/list">projects</a>
  &gt;
  ${proj.name}
</div>

<div class="main-body">
  <p><img class="avatar" src="${proj.logo()}" alt="logo" /></p>
  <div id="project-details">
    <h2>${proj.name}</h2>
    <p>Homepage: <a href="${proj.homepage}" target="_blank">${proj.homepage}</a></p>
    <br />
    ${markdown.markdown(proj.description)}
  </div>
</div>
  <ul id="actions" class="buttons">
 %if canedit:
    <li><a href="${common.prefix}/${proj.name}/edit">Edit project</a></li>
 %endif
    <li><a href="${common.prefix}/${proj.name}/bugs">Bugs</a></li>
    <li><a href="${common.prefix}/${proj.name}/doc">Documentation</a></li>
  </ul>
  <div class="clear"></div>

<div id="branches">
  <h4>Branches</h4>
  <ul>
  %for b in branches:
    <li><a href="${common.prefix}/${proj.name}/branch/${b}">${b}</a></li>
  %endfor
  </ul>
</div>
